@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header-container {
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 20px 350px;
}

.header-container .header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav .header__logo img {
  max-width: 150px;
}

.header-nav .header__links,
.header__links ul {
  display: flex;
  color: white;
  gap: 32px;
  font-weight: 700;
}

.header__links ul li {
  margin: auto 0;
}

.header__links ul li a:hover {
  color: #1ed760;
}

.header-nav .header__links ul:nth-child(2) {
  /* border-left: 1px solid white; */
  padding-left: 50px;
  margin-left: 15px;
  position: relative;
}

.header-nav .header__links ul:nth-child(2)::after {
  content: "";
  height: 40%;
  width: 1px;

  position: absolute;
  left: 0;
  top: 30%;

  background-color: white;
}

.main-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  background-color: #df0c8b;
  padding: 50px 350px 0;
}

.main-container .main-container__info {
  color: white;
  padding-right: 70px;
}

.main-container__info h1 {
  font-size: 2.5em;
  font-weight: 800;
}

.main-container__info p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 35px;
  padding: 40px 0;
}

.main-container__buttons a:hover {
  cursor: pointer;
  scale: 1.05;
}

.main-container__info .main-container__buttons a:nth-child(1) {
  background-color: rgb(25, 20, 20);
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 600;
}

.main-container__info .main-container__buttons a:nth-child(2) {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 600;
}

.main-container .main-container__info .main-container__small {
  font-size: 0.7em;
  line-height: 18px;
}

.main-container .main-container__img img {
  position: relative;
  top: -20px;
  max-width: 100%;
  height: 100%;
}

.features-container {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.features-container h1 {
  font-weight: 800;
}

.features-container .features-container__items {
  width: 55%;
  padding: 90px 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feat-container {
  max-width: 200px;
}

.feat-container .feat-container__title {
  padding: 30px 0 15px;
}

.plans-container {
  width: 100%;
  padding: 70px 0 100px;
  background-color: #efefef;
}

.plans-container .plans-container__top {
  text-align: center;
}

.plans-container__top p {
  padding: 10px 0;
}

.plans-container .plans-container__listed {
  width: 60%;
  display: flex;
  gap: 15px;
  margin: 40px auto 0;
}

.plan-card {
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  line-height: 28px;
  font-weight: 500;
  font-size: 0.9em;
  box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.plan-card .plan-card__badges button:not(:first-child) {
  margin-top: 10px;
}

.badge--blue {
  display: block;
  background-color: rgb(13, 114, 234);
  color: white;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 0.8em;
  border-radius: 5px;
  border: none;
  outline: none;
}

.badge--blue-outline {
  display: block;
  color: rgb(13, 114, 234);
  background-color: transparent;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid rgb(13, 114, 234);
  outline: none;
}

.badge--break {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: transparent;
}

.plan-card .plan-card__title {
  padding-bottom: 20px;
  line-height: 24px;
  border-bottom: 1px solid black;
}

.plan-card .plan-card__title h3 {
  font-size: 1.5em;
  padding-top: 10px;
}

.plan-card .plan-card__features {
  height: 330px;
  padding: 20px 0;
  font-size: 0.98em;
  line-height: 25px;
}

.plan-card .plan-card__features ul {
  padding-left: 20px;
  list-style: url("../assets/check.png");
}

.plan-card .plan-card__features li {
  padding: 2px 0;
}

.plan-card .plan-card__calls p {
  font-size: 0.75em;
  line-height: 18px;
}

.plan-card .plan-card__calls .plan-card__submit {
  width: 100%;
  background-color: rgb(25, 20, 20);
  color: white;
  border-radius: 50px;
  padding: 13px 0;
  font-weight: 800;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.plan-card__submit:hover {
  cursor: pointer;
  scale: 1.05;
}

footer {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 90px 400px 50px;
  background-color: #000;
}

.footer-menu {
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.footer-menu .footer-menu__logo {
  grid-column: 1;
}

.footer-menu .footer-menu__logo img {
  max-width: 140px;
}

.footer-menu .footer-menu__links {
  grid-row: 1;
  grid-column: 5;
  color: white;
}

.footer-menu .footer-menu__links:nth-of-type(2) {
  grid-row: 1;
  grid-column: 2;
  color: white;
}

.footer-menu .footer-menu__links:nth-of-type(3) {
  grid-row: 1;
  grid-column: 3;
  color: white;
}

.footer-menu .footer-menu__links:nth-of-type(4) {
  grid-row: 1;
  grid-column: 4;
  color: white;
}

.footer-menu .footer-menu__links ul {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 500;
  gap: 20px;
}

footer ul li a:hover {
  color: #1ed760;
}

.footer-menu .footer-menu__links li:nth-child(1) {
  color: #919496;
  padding: 20px 0 10px;
  font-weight: 600;
}

.footer-subs {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #919496;
  font-size: 0.75em;
}

.footer-subs ul {
  display: flex;
  gap: 25px;
}

/* Media Queries */

@media (max-width: 1800px) {
  .header-container {
    padding: 20px 250px;
  }

  .main-container {
    padding: 50px 250px;
  }
}

@media (max-width: 1500px) {
  .header-container {
    padding: 20px 150px;
  }

  .main-container {
    padding: 50px 150px;
  }
}

@media (max-width: 1300px) {
  .header-container {
    padding: 20px 50px;
  }

  .main-container {
    padding: 50px 50px;
  }
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .main-container .main-container__img img {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-nav .header__links,
  .header__links {
    display: none;
  }
}
