:root {
  --primary-color-dark: #205990;
  --primary-color-light: #2f97ba;
  --secundary-color-red: #b9202d;
  --secundary-color-orange: #f7a355;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
}

.colored--blue-dark {
  color: var(--primary-color-dark);
}
.colored--blue-light {
  color: var(--primary-color-light);
}
.colored--red {
  color: var(--secundary-color-red);
}
.colored--orange {
  color: var(--secundary-color-orange);
}

/* Header component starts */

.main-header {
  width: 100%;
  height: auto;
  grid-column: 2;
}

.main-header li a {
  color: var(--primary-color-dark);
}

.main-header .contact-link {
  color: #424242;
  background-color: #eeeeee;
  font-weight: 600;
}

/* Header component ends */

/* Main section starts */

.main {
  width: 100%;
  height: auto;
  margin: 50px 0;
  grid-column: 2;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main__info {
  grid-column: 1;
  grid-row: 1;
}

.main__img img {
  display: none;
}

.main__info h1 {
  font-weight: 700;
  color: var(--primary-color-dark);
}

.main__info h3 {
  font-weight: 300;
  padding: 20px 0;
}

.main__info p {
  font-weight: 200;
  text-align: justify;
  color: var(--primary-color-dark);
}

.main__input {
  padding: 40px 0;
}

.main__input input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  border: 1px solid rgb(218, 218, 218);
  outline: none;
  margin-bottom: 10px;
}

.main__input button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: var(--primary-color-dark);
}

/* Main section ends */

/* Types section starts */

.types {
  width: 100%;
  height: auto;
  margin: 50px 0;
  grid-column: 2;
}

.types-container h4 {
  font-weight: 200;
  text-align: center;
  color: var(--primary-color-dark);
  margin-bottom: 30px;
}

.types__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.types__list-block {
  min-width: 250px;
  text-align: center;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--primary-color-dark);
  background-color: #b9202d1d;
}

/* Types section ends */

/* More info section starts */

.more-info {
  width: 100%;
  height: auto;
  margin: 50px 0;
  grid-column: 2;
}

.more-info-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.more-info__img img {
  width: 100%;
  max-width: 600px;
}

.more-info__desc h1 {
  font-weight: 700;
  color: var(--primary-color-dark);
  margin-top: 30px;
}

.more-info__desc p {
  margin: 20px 0;
}

.more-info__desc a {
  text-decoration: underline;
  font-weight: 300;
  color: var(--primary-color-light);
}

/* More info section ends */

/* Our Platform section starts */

.platform {
  width: 100%;
  height: auto;
  margin: 50px 0;
  grid-column: 2;
}

.platform-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.platform__head {
  grid-row: 1;
  text-align: center;
}

.platform__head h1 {
  color: var(--primary-color-dark);
  margin-bottom: 20px;
}

.platform__aside {
  display: none;
}

.platform__links {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.platform__links-card {
  width: 100%;
  height: auto;
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  background-color: #142a3f;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  color: white;
  position: relative;
}

.platform__links-card:nth-of-type(1) {
  background-color: var(--primary-color-dark);
}

.platform__links-card h3 {
  grid-row: 1;
}

#card-icon {
  max-width: 100px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.platform__links-card a {
  grid-row: 2;
  color: white;
  text-decoration: underline;
}

/* Our Platform section ends */

/* Plans section starts */

.plans {
  width: 100%;
  height: auto;
  margin: 50px 0 0;
  padding: 100px 0;
  grid-column: 1/4;
  background-color: #eeeeee;
}

.plans-container {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  grid-template-rows: 1fr 10fr;
}

.plans__head {
  text-align: center;
  grid-column: 2;
}

.plans__head h1 {
  font-weight: 700;
}

.plans__cards {
  grid-column: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.plans__card {
  min-width: 350px;
  max-width: 450px;
  height: auto;
  min-height: 300px;
  background-color: white;
  box-shadow: -18px 21px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 60px 60px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr;
}

.plans__card div:nth-of-type(2) {
  text-align: center;
}

.plans__card .card-title {
  font-weight: 700;
}

.plans__card .tag {
  font-size: 1.2em;
  font-weight: 800;
  padding: 5px 40px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 3px solid currentColor;
}

.plans__card h2 {
  font-weight: 300;
  margin: 10px 0;
}

.plans__card ul {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 35px;
  margin: 30px 0;
}

.plans__card div:nth-of-type(2) button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 800;
  border: none;
  color: white;
  background-color: var(--primary-color-dark);
}

.plans__card a {
  text-decoration: underline;
  color: gray;
}

/* Plans section ends */

/* Label starts */

.label {
  width: 100%;
  height: auto;
  padding: 40px 0;
  grid-column: 1/4;
  background-color: #ce7f36;
}

.label-container {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.label-container p {
  grid-column: 2;
  color: white;
  font-weight: 700;
}

.label-container a {
  text-decoration: underline;
  color: white;
  font-weight: 300;
}

/* Label ends */

/* Learn section starts */

.learn {
  width: 100%;
  height: auto;
  margin: 50px 0;
  grid-column: 2;
}

.learn-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.learn__img img {
  width: 100%;
  max-width: 600px;
}

.learn__desc h1 {
  font-weight: 700;
  color: var(--primary-color-dark);
  margin-top: 30px;
}

.learn__desc p {
  margin: 20px 0;
}

.learn__desc a {
  text-decoration: underline;
  font-weight: 300;
  color: var(--primary-color-light);
}

/* Learn section ends */

/* Footer starts */

/* Footer ends */

@media (min-width: 850px) {
  .more-info-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: initial;
  }

  .more-info__img {
    display: flex;
    justify-content: flex-end;
  }

  .more-info__desc {
    margin: auto 0;
  }

  .learn-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: initial;
  }

  .learn__img {
    display: flex;
    justify-content: flex-start;
  }

  .learn__desc {
    margin: auto 0;
    text-align: end;
  }
}

@media (min-width: 1100px) {
  /* .main-header {
    margin: 20px 150px;
  } */

  .label-container p {
    font-size: 1.2em;
  }

  .label-container a {
    font-size: 1em;
  }

  .types {
    margin: 80px 0;
  }

  .more-info {
    margin: 150px 0;
  }

  .more-info__desc h1 {
    width: 80%;
    font-size: 2.5em;
  }

  .more-info__desc p {
    font-size: 1.3em;
  }

  .more-info__desc a {
    font-size: 1.3em;
  }

  .platform {
    margin: 100px 0;
  }

  .learn {
    margin: 150px 0;
  }

  .learn__desc h1 {
    font-size: 2.5em;
  }

  .learn__desc p {
    font-size: 1.3em;
  }

  .learn__desc a {
    font-size: 1.3em;
  }

  .plans {
    margin: 100px 0 0;
  }

  .plans-container {
    grid-template-rows: 3fr 12fr;
  }

  .plans__head h1 {
    padding-bottom: 15px;
  }

  .main {
    margin: 80px 0;
  }

  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .main__info {
    margin: auto 0;
    grid-column: 1;
    grid-row: 1;
  }

  .main__info h1 {
    width: 85%;
    font-size: 2.5em;
  }

  .main__img img {
    display: block;
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    max-width: 800px;
  }

  .main__input {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }

  .main__input input {
    max-width: 350px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid rgb(218, 218, 218);
    outline: none;
    margin: 0 10px 0 0;
  }

  .main__input button {
    max-width: 150px;
    padding: 10px 5px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: var(--primary-color-dark);
  }
}

@media (min-width: 1454px) {
  .platform-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
  }

  .platform__head {
    grid-row: 1;
    grid-column: 1/3;
  }

  .platform__links {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
