* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header,
footer {
  width: 100vw;
  position: fixed;
  background-color: #6096b4;
  color: white;
  text-align: center;
  padding: 40px 0;
}

footer {
  bottom: 0;
  padding: 20px 0;
  background-color: #bdcdd6;
  color: rgb(0, 0, 0);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__top {
  height: 500px;
  width: 500px;
  background-color: #6096b4;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: white;
  font-weight: 800;
}

#tasks_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  max-height: 250px;
}

#new-task__input {
  padding: 10px 15px;
  border: none;
  outline: none;
}

#new-task__submit {
  padding: 10px 20px;
  margin: 20px 0;
  color: white;
  border: none;
  background-color: #1b1b1b;
}

#new-task__submit:hover {
  opacity: 80%;
  cursor: pointer;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdcdd6;
  padding: 15px 40px;
}

.delTask {
  background-color: rgb(216, 28, 28);
  color: white;
  font-weight: 800;
  border: none;
  padding: 10px;
}

.editTask {
  background-color: rgb(234, 234, 234);
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: none;
  padding: 10px;
}

.editTask:hover {
  opacity: 80%;
  cursor: pointer;
}

.delTask:hover {
  opacity: 80%;
  cursor: pointer;
}
